{#
/**
 * @file
 * Default theme implementation to display a event.
 *
 * Available variables:
 * - event: The event entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - event.getCreatedTime() will return the event creation timestamp.
 *   - event.hasField('field_example') returns TRUE if the event bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - event.isPublished() will return whether the event is published or not.
 *   Calling other methods, such as event.delete(), will result in an exception.
 *   See \Drupal\event\Entity\Event for a full list of public properties and
 *   methods for the event object.
 * - label: The title of the event.
 * - content: All event items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The event author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this event.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current event.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - event: The current template type (also known as a "theming hook").
 *   - event--type-[type]: The current event type. For example, if the event is an
 *     "Article" it would result in "event--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - event--view-mode-[view_mode]: The View Mode of the event; for example, a
 *     teaser would result in: "event--view-mode-teaser", and
 *     full: "event--view-mode-full".
 *   The following are controlled through the event publishing options.
 *   - event--promoted: Appears on events promoted to the front page.
 *   - event--sticky: Appears on events ordered above other non-sticky events in
 *     teaser listings.
 *   - event--unpublished: Appears on unpublished events visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the event tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   event cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_event()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes }}>
    {{ content }}
  </div>

</article>
